<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> - <%= Settings.instance_name %></title>
    <link href="https://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-combined.min.css" rel="stylesheet" name="Boostrap" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://current.bootstrapcdn.com/bootstrap-v204/js/bootstrap.min.js"></script>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <ul class="nav nav-list">
            <li class="nav-header"><%= Settings.instance_name %></li>
            <%= active_link_to t('.home'), '/', :wrap_tag => :li %>
            <%= active_link_to t('.projects'), '/projects', :wrap_tag => :li %>
            <li class="divider"></li>
            <%= active_link_to t('.help'), '/help', :wrap_tag => :li %>
          </ul>
        </div>
        <div class="span10">
          <%= yield %>
        </div>
      </div> <!-- row-fluid -->
    </div> <!-- container-fluid -->
  </body>
</html>
